body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #ff9a9e, #fad0c4);
  text-align: center;
  color: black;
}

.slider {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slide {
  display: none;
  padding: 20px;
}

.slide.active {
  display: block;
  animation: fade 1s;
}

.final-page {
  min-height: 100vh;
  padding: 40px 20px;
  text-align: center;
  background: linear-gradient(to right, #ff9a9e, #fad0c4);
  overflow-y: auto;
}

.top-image {
  width: 250px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.final-page h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.final-page p {
  max-width: 700px;
  margin: auto;
  font-size: 18px;
  line-height: 1.8;
}

img {
  width: 300px;
  border-radius: 20px;
  margin-top: 50px;
}

button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 15px 25px;
  border: none;
  border-radius: 30px;
  background: #ff4b5c;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}